.editor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor-toolbar {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}

.editor-toolbar .path-divider {
  margin-left: 6px;
  margin-right: 6px;
}

.editor-content {
  height: 100%;
  padding-left: var(--editorPadding);
  padding-right: var(--editorPadding);
  overflow: scroll;
}

.file-settings-button {
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.file-settings-button:hover {
  background-color: var(--fgLight);
}

.file-settings-dropdown-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 100%;
  z-index: 4;
}

.file-settings-dropdown {
  position: absolute;
  top: 45px;
  right: 5px;
  background-color: var(--bgLight);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.file-settings-dropdown .option {
  cursor: pointer;
}
.file-settings-dropdown .option:hover {
  background-color: var(--fgLight);
}
